/* CSS Resets */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

/* CSS Variables */

:root{
    --navbar-height:59px;
}

/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: sticky;
    top:0px;
}

/* Navigation Bar: Logo and Image */

#logo{
margin: 4px 9px;

}

#logo img{

margin: 2px 1px;
height: 88px;
width: 111px;
/* filter: invert(100%); */
}

/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo 2', cursive;

}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left:0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}

#navbar ul li{

    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 2px 20px;
    border-radius: 20px;
}
#navbar ul li a:hover{
    color:black;
    background-color: cadetblue;
    /* text-transform: uppercase; */
    text-decoration-line: underline;
}

/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    padding: 7px 69px;
    height: 250px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    top:0px;
    left: 0px;
    background: url('images/bg2.jpg') no-repeat center center/cover;
    height: 69%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#home h1{
    color:black;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p{
    color: black;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

/* Section Services */

#services{
    margin:5px 90px;
    display: flex;
}

.section-container::before{
    content: "";
    position: absolute;
    background: url('/images/services_Bg.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    /* padding: 10px;
    margin:5px 10px; */
    /* top: 0px; */
    left: 0px;
    opacity: 0.6;
    z-index:-1;
}

#services .box{
    border: 2px solid red;
    padding: 39px 32px;
    margin: 45px 45px;
    border-radius: 32px;
    background-color: rgb(173, 147, 147);
}
#services .box img{
height: 125px;
display: block;
margin: auto;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}

/* Client Section */
#client-section{
height: 345px;
position: relative;
}
#client-section::before{
 content: "";   
 position: absolute;
 background: url('/images/Bg_Client2.jpg') no-repeat center center/cover;
 width: 100%;
 height: 100%;
 opacity: 0.6;
 z-index: -1;
}

#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}

#clients img{
    height: 85px;
}

.client-item{
    padding: 10px;
    margin: 10px 2px;
}

/* Contact Section */

#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background: url('/images/Contact_Us_Page.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: -1;
}

#contact-box{
    display: flex;
justify-content: center;
align-items: center;
padding-bottom: 35px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    font-family: 'Baloo 2', cursive;
    
}

#contact-box form{
    width: 35%;
}
#contact-box label{
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;

}
#contact-box button{
    padding: 11px 35px;
    margin: 20px 20px;
    font-size: 1.1rem;
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 35px;
    cursor: pointer;
}
#contact-box button:hover{
    background-color: darkseagreen;
}


/* Utility Classes */

.h-primary{
    font-size: 2rem;
    font-family: 'Bree Serif', serif;
    padding: 15px;
    text-decoration-line: underline;

}
.h-secondry{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
    padding: 15px;

}
.center{
    text-align: center;
    font-family: 'Bree Serif', serif;
}

.btn{
    padding: 10px 11px;
    margin: 17px 26px;
    border:3px solid black; 
    border-radius: 30px;
    font-size: 1.2rem;
    background-color:cadetblue;
    height: 50px;
    width: 190px;
    cursor: pointer;
}
.btn:hover{
    background-color:darkseagreen;
}

footer{
    background-color: black;
    color: white;
    padding: 10px 20px;
}
